---
---

@import "main";

.current {
    color: red;
  }
.navigation_item {
  
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}

nav {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;;
  margin-bottom: 1rem;
  background-color: #e8e206;
}
