<!DOCTYPE html>
<html lang="{{ site.lang | default: "de-DE" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.png" | relative_url }}" type="image/png">
  </head>
  <body>
    <img src="{{ "/assets/images/schwabenstoffe.logo.svg" | relative_url }}" alt="Schwabenstoffe logo">
    {% include navigation.html %}
    {{ content}}
  </body>
</html>
